@use '../../sass/mixin';

.client-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: fit-content;
  padding: 0 10rem;
  box-sizing: border-box;
  .client {
    height: 20rem;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #353535;
    .name {
      color: #F6F6F6;
      font-size: 2.2rem;
      font-weight: 500;
    }
    .days-left, .last-update-date, .last-update-payment {
      color: #F6F6F6;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}