@use '../../sass/mixin';

.item-container {
  width: 100%;
  height: 8rem;
  display: flex;
  padding: 1rem 2rem;
  box-sizing: border-box;
  &:not(:last-child) {
    border-bottom: 1px solid rgb(151, 151, 151);
  }
  .client {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .name {
      font-size: 1.5rem;
      color: #F6F6F6;
    }
    .days-left {
      color: #F6F6F6;
      font-size: 1.1rem;
    }
  }
  .actions {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    .button {
      @include mixin.button();
      background: #0B67C3;
    }
    .delete {
      background: #FF4158;
    }
  }
}