.nav-container {
  z-index: 100;
  position: fixed;
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: .5s;
  .logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    .list {
      margin: 0 2rem;
      a {
        color: #fff;
        font-size: 1.2rem;
      }
    }
    .add {
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(180, 165, 165, .5);
      border-radius: .5rem;
      width: 8rem;
      height: 3rem;
      cursor: pointer;
      &:hover {
        background: rgb(180, 165, 165, .3);
      }
    }
  }
}
.scroll {
  background: #3A3939;
  transition: .5s;
}